<md-content class="md-padding" layout="column">

    <div layout="row">
        <h2>Registro del Paciente</h2>
    </div>

    <md-content layout-padding>
        <div>
            <form name="userForm" flex="70" flex-offset="15">
                <div layout-gt-sm="row" layout="column">
                    <md-input-container class="md-block md-icon-float" flex layout-margin>
                        <label>Fecha de alta</label>
                        <md-icon type="text" class="fa fa-user-md" aria-hidden="true"></md-icon>
                        <input type="text" name="name" ng-model="patientDischarge">
                    </md-input-container>

                    <md-input-container class="md-block md-icon-float" flex layout-margin>
                        <label>Cedula profesional</label>
                        <md-icon class="fa fa-id-card" aria-hidden="true"></md-icon>
                        <input type="text" name="identityCard" ng-model="doctorIdentityCard" mask="A?9?" restrict="reject" repeat="20">
                    </md-input-container>

                    <md-input-container class="md-block" flex layout-margin>
                        <label>Especialidad</label>
                        <input type="text" name="specialty" ng-model="doctorSpecialty">
                    </md-input-container> 
                </div>
            </form>
        </div>
    </md-content>

</md-content>
