
<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Mango (Fruit)</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <!--<div  grid-options="gridOptions" grid-actions="gridActions">
                <table class="table">
                    <thead>
                        <tr>
                            <th sortable="code" class="sortable">
                                Order #
                            </th>
                            <th sortable="placed" class="sortable">
                                Date Placed
                            </th>
                            <th sortable="purchaseOrderNumber" class="sortable">
                                Purchase Order #
                            </th>
                            <th sortable='total.value' class="sortable">
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr grid-item>
                            <td ng-bind="item.code"></td>
                            <td ng-bind="item.placed | date:'MM/dd/yyyy'"></td>
                            <td ng-bind="item.purchaseOrderNumber"></td>
                            <td ng-bind="item.total.formattedValue"></td>
                        </tr>
                    </tbody>
                </table>
            </div>-->
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                More on Wikipedia
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Not Useful
            </md-button>
            <md-button ng-click="answer('useful')">
                Useful
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>