<!--<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span><i class="fa fa-calendar" aria-hidden="true"></i> Horarios</span>
    </div>
</md-toolbar>-->

<!-- exact table from live demo -->
<!--<md-table-container layout="layout-padding">
    <table md-table multiple ng-model="selected" md-progress="promise">

        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
            <tr md-row>
                <th md-column><span></span></th>  
                <th md-column ng-repeat="days in week"><span><md-button class="md-fab md-primary">{{days.day | limitTo: 1}}
                    </md-button></span></th>
            </tr>
        </thead>

        <tbody md-body>

        </tbody>

    </table>
</md-table-container>-->
