<md-content class="md-padding" layout="column">

    <div layout="row">
        <h2>Registro del Médico</h2>
    </div>

    <md-content layout-padding>
        <div>
            <form name="userForm" flex="70" flex-offset="15">

                <div layout-gt-sm="row" layout="column">
                    <md-input-container class="md-block md-icon-float" flex layout-margin>
                        <label>Nombre completo</label>
                        <md-icon type="text" class="fa fa-user-md" aria-hidden="true"></md-icon>
                        <input type="text" name="name" ng-model="doctorNameFull" class="upper-case">
                    </md-input-container>

                    <md-input-container class="md-block md-icon-float" flex layout-margin>
                        <label>Cedula profesional</label>
                        <md-icon class="fa fa-id-card" aria-hidden="true"></md-icon>
                        <input type="text" name="identityCard" ng-model="doctorIdentityCard" mask="A?9?" restrict="reject" repeat="20">
                    </md-input-container>

                    <md-input-container class="md-block" flex layout-margin>
                        <label>Especialidad</label>
                        <input type="text" name="specialty" ng-model="doctorSpecialty">
                    </md-input-container> 
                </div>

                <div>

                    <md-table-container>
                        <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                            <thead md-head>
                                <tr md-row>
                                    <th md-column ng-repeat="days in week">
                                        <md-button class="md-fab md-primary" aria-label="{{days.day}}">{{days.day | limitTo: 1}}
                                            <md-tooltip>
                                                {{days.day}}
                                            </md-tooltip>
                                        </md-button>
                                    </th>
                                </tr>
                            </thead>

                            <tbody md-body>
                                <tr md-row>
                                    <td md-cell ng-repeat="days in week">
                                        <md-input-container class="md-input-has-placeholder" layout-padding layout-align="center center">
                                            <input type="text" ng-model="days.hour_init" placeholder="HH:mm" ui-time-mask="short"/>
                                        </md-input-container>    

                                        <md-input-container class="md-input-has-placeholder" layout-padding layout-align="center center">
                                            <input type="text" ng-model="days.hour_final" aria-label="time" ui-time-mask="short"/>
                                        </md-input-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <!--<md-list>
<h3 class="md-title row">Horario de servicio</h3>

<md-list-item>

<div class="md-list-item-text" ng-repeat="days in week" layout-align="center center" layout="column" >
<md-button class="md-fab md-primary" aria-label="{{days.day}}">{{days.day | limitTo: 1}}
<md-tooltip>
{{days.day}}
</md-tooltip>
</md-button>

<md-input-container class="md-input-has-placeholder" layout-padding layout-align="center center">
<input type="text" ng-model="days.hour_init" placeholder="HH:mm" ui-time-mask="short"/>
</md-input-container>    

<md-input-container class="md-input-has-placeholder" layout-padding layout-align="center center">
<input type="text" ng-model="days.hour_final" aria-label="time" ui-time-mask="short"/>
</md-input-container>

</div>
</md-list-item>
</md-list> -->   
                </div>

                <div layout="column">
                    <md-button class="md-raised md-default" ng-click="addAddress()">+ Nueva dirección</md-button>  
                    <md-input-container class="md-block md-icon-float" ng-repeat="address in arrayAddress">
                        <label>{{address.question}}</label>
                        <md-icon class="fa fa-address-card" aria-hidden="true"></md-icon>
                        <input type="text" name="{{address.name}}" ng.model="doctorAddress">
                    </md-input-container>
                </div>


                <div layout="column">
                    <md-button class="md-raised md-default" ng-click="addService()">+ Agregar servicio</md-button>  
                    <div layout="row" ng-repeat="service in arrayServices">
                        <md-input-container class="md-block md-icon-float" layout="column" flex="70">
                            <label>Servicio</label>
                            <md-icon class="fa fa-cart-plus" aria-hidden="true"></md-icon>
                            <input type="text" name="{{service.name}}" ng-model="doctorService">
                        </md-input-container>

                        <md-input-container class="md-block md-icon-float" layout="column" flex="30">
                            <label>Costo</label>
                            <md-icon class="fa fa-usd" aria-hidden="true"></md-icon>
                            <input type="text" name="{{service.price}}" ng-model="doctorServicePrice" ui-money-mask="2">
                        </md-input-container>
                    </div>
                </div>

                <div layout-gt-sm="row" layout="column">

                    <md-input-container flex>
                        <label>Tiempo de consulta</label>
                        <md-select ng-model="ctrl.userState">
                            <md-option><em>None</em></md-option>
                            <md-option ng-repeat="time in timeConsultation">
                                {{time}} min
                            </md-option>
                        </md-select>
                    </md-input-container> 

                    <md-switch class="md-primary" aria-label="Asistente" layout-padding layout-margin flex ng-model="doctorAssistant">Asistente virtual</md-switch>

                    <md-input-container class="md-block md-icon-float" flex layout-margin>
                        <label>Teléfono consultorio</label>
                        <md-icon class="fa fa-phone" aria-hidden="true"></md-icon>
                        <input type="text" name="officePhone" ng-model="doctorOfficeNumber" ui-br-phone-number>
                    </md-input-container>

                </div>

                <div layout-gt-sm="row" layout="column">
                    <md-input-container class="md-block md-icon-float" flex layout-margin>
                        <label>Teléfono celular</label>
                        <md-icon class="fa fa-mobile" aria-hidden="true"></md-icon>
                        <input type="text" name="mobilePhone" ng-model="doctorMobileNumber" ui-br-phone-number>
                    </md-input-container>

                    <md-input-container class="md-block md-icon-float" flex layout-margin>
                        <label>Email</label>
                        <md-icon class="fa fa-envelope" aria-hidden="true"></md-icon>
                        <input type="email" name="email" ng-model="doctorEmail">
                    </md-input-container>
                </div>

            </form>
        </div>
    </md-content>

</md-content>